/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
  /* display: grid;
  grid-template-rows: min-content 1fr; */
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms \!important;
    animation-iteration-count: 1 \!important;
    transition-duration: 0.01ms \!important;
    scroll-behavior: auto \!important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */

  /* primary */
  --clr-blue: 223, 87%, 63%;

  /* secondary */
  --clr-pale-blue: 223, 100%, 88%;
  --clr-light-red: 354, 100%, 66%;

  /* neutral */
  --clr-gray: 0, 0%, 59%;
  --clr-very-dark-blue: 209, 33%, 12%;

  /* FONT FAMILY */
  --ff-libre-franklin: 'Libre Franklin', sans-serif;

  /* FONT SIZE */
  --fs-default: 1.25rem;
  --fs-header-1: 2.875rem;

  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  font-family: var(--ff-libre-franklin);
  font-size: var(--fs-default);
}

.main {
  width: 100vw;
  min-height: 100vh;
}

.btn {
}

/**------------------- 
**    UTILITIES
--------------------*/
.sr-only {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  max-width: 48rem;
  margin: 0 auto;
}

.mb--1 {
  margin-bottom: 1rem;
}

.mb--2 {
  margin-bottom: 2rem;
}

.mb--3 {
  margin-bottom: 3rem;
}
.mb--4 {
  margin-bottom: 4rem;
}

/**------------------- 
**     HEADER
--------------------*/
.header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 8rem;
}

/**------------------- 
**  LAUNCHING SOON
--------------------*/
.launching-soon {
}

.launching-soon__title {
  color: hsl(var(--clr-gray));
  font-size: var(--fs-header-1);
  font-weight: var(--fw-light);
  letter-spacing: 1.5px;
  text-align: center;
}

.launching-soon__title span {
  color: hsl(var(--clr-very-dark-blue));
  font-weight: var(--fw-bold);
}

.launching-soon__text {
  margin-top: 0.7rem;
  text-align: center;
}

/**------------------- 
**       FORM
--------------------*/
.form--subscription {
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 29.375rem) {
  .form--subscription {
    flex-direction: column;
  }
}

.form-controls {
  flex-grow: 2;
}

.form--subscription__email {
  border: 1px solid hsl(var(--clr-pale-blue));
  border-radius: 50px;
  padding: 1rem;
  width: 100%;
}

.form--subscription__email::placeholder {
  color: hsl(var(--clr-gray));
}

.form--subscription__btn {
  flex-grow: 1;

  background-color: hsl(var(--clr-blue));
  border: none;
  border-radius: 50px;
  box-shadow: 0 3px 6px 1px hsl(var(--clr-very-dark-blue), 50%);
  color: #fff;
  font-weight: var(--fw-semi-bold);
  padding: 1rem 2rem;
}

/**------------------- 
**       MAIN
--------------------*/
.section-main {
  width: 375px;
}

.illustration {
  height: 100%;
  width: 100%;
}

.illustration img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/**------------------- 
**      FOOTER
--------------------*/
