/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms \!important;
    animation-iteration-count: 1 \!important;
    transition-duration: 0.01ms \!important;
    scroll-behavior: auto \!important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */

  /* primary */
  --clr-blue: 223, 87%, 63%;

  /* secondary */
  --clr-pale-blue: 223, 100%, 88%;
  --clr-light-red: 354, 100%, 66%;

  /* neutral */
  --clr-gray: 0, 0%, 59%;
  --clr-very-dark-blue: 209, 33%, 12%;

  /* FONT FAMILY */
  --ff-libre-franklin: 'Libre Franklin', sans-serif;

  /* FONT SIZE */
  --fs-default: 1.25rem;

  /* FONT WEIGHT */
  --ff-light: 300;
  --ff-semi-bold: 600;
  --ff-bold: 700;
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  font-family: var(--ff-libre-franklin);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;
}

/**------------------- 
**    UTILITIES
--------------------*/
.sr-only {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  max-width: 48rem;
  margin: 0 auto;
}

/**------------------- 
**     HEADER
--------------------*/
.header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 8rem;
}

/**------------------- 
**       FORM
--------------------*/

/**------------------- 
**       MAIN
--------------------*/
.section-main {
  width: 375px;
}

.illustration {
  height: 100%;
  width: 100%;
}

.illustration img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/**------------------- 
**      FOOTER
--------------------*/
